body { background-image:  url("https://www.seriouseats.com/recipes/images/2017/06/20170617-bulgogi-burger-matt-clifton-1-1500x1125.jpg"); 
    background-size:cover;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
}

img{
	width: 200px;
	height: auto;
}